[push]
        default = current
[user]
        name = kamijodev
        email = kamijodev@gmail.com
[alias]
  st = status
  com = commit
  co = checkout
  sw = switch
  br = branch
  l1 = log --oneline
  back = reset --hard HEAD^
  cp = cherrypick
[core]
  editor = vim
